.head {
  background-image: url("images/IMG_1427.jpg");
  background-size: cover;
  height: 600px;
  opacity: .5;
}
.initials  {
  text-align: center;
  font-size: 50px;
  color: black;
}
.menu {
  border: 1px solid LightGrey;
  padding: 40px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.menu a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.menu a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}
