body {
  font-family: 'Raleway', sans-serif;
}
.head {
  background-image: url("images/IMG_1427.jpg");
  background-size: cover;
  height: 430px;
  opacity: .5;

}
.initials  {
  text-align: center;
  font-size: 150px;
  color: black;
  margin: 1px;
}
h4 {
  text-align: center;
  margin: 1px;
  font-size: 27px;
}
h5 {
  text-align: center;
  margin: 1px;
  font-size: 18px;
}
.menu {
  border: 1px solid LightGrey;
  padding: 10px 0px;
  position: relative;
  text-align: center;
  width: 100%;
}

.menu a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
  text-align: center;
}

.menu a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}
.foot a {
  text-align: left;
  font-size: 14px;
}
