body {
  font-family: 'Raleway', sans-serif;
}
.navigation {
  background-image: url("images/IMG_1284.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 300px;
  width: auto;
  margin: 0 auto;
}
.navigation ul {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}
.navigation li {
  font-weight: 50;
  letter-spacing: 2px;
  padding: 20px;
  color: white;
}
.navigation p {
  color: white;
  font-size: 20px;
  letter-spacing: 4px;
  padding-top: 140px;
  text-align: center;
}
.resume {
  text-align: center;
  padding: 20px;
  padding-bottom: 10px;

}
li {
  text-align: center;
  font-size: 16px;
  color: white;
}
p {
  text-align: center;
}

}
.resume {
  padding: 10px 0px;
  position: relative;
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.resume a{
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin: 10px;
  padding: 14px;
  text-decoration: none;
}

.resume a:hover {
  background: white;
  border: 1px solid red;
  color: red;
}
.copyright p {
  font-family: 'Raleway', sans-serif;
  opacity: .3;
  border: 1px solid red;
  color: red;
  width: 200px;
  margin: 0 auto;
}
